<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height">
    <img class="img-responsive img-center img-rounded" src="../assets/img/profile.jpg" style="width:200px;height:200px" alt="Profile image of Joe Plumb">
</header>

    <ul class="nav justify-content-center nav-pills">
        <li class="nav-item">
        <a class="nav-link" href="/" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="blog" role="tab" aria-controls="blog" aria-selected="false">Blog</a>
        </li>
    </ul>


<!-- Content Section -->
<router-outlet></router-outlet>

<!-- Fixed Height Image Aside -->
<!-- Image backgrounds are set within the full-width-pics section of the styles.css file. -->
<aside class="image-bg-fixed-height"></aside>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div ng-app ng-controller="YearController" class="col-lg-12">
                <p>Copyright &copy; Joe Plumb {{date | date:'yyyy'}}</p>
            <p>Created using Angular and Bootstrap</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

</footer>

