<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="image-bg-fluid-height">
    <img class="img-responsive img-center img-rounded" src="../assets/img/profile.jpg" style="width:200px;height:200px" alt="Profile image of Joe Plumb">
</header>

<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">Joe Plumb</h1>
                <p class="lead section-lead">Hello! You've found me.</p>
                <p class="section-paragraph">I'm Joe, a not-so-recent graduate from the University of Leeds with a BSc in Information Technology. I am a creative and driven individual with a passion for understanding how things work, and how I can make things work for other people to make their day to day lives easier.</p>
                <p class="section-paragraph">I am currently based in central <em>London</em>, working for Microsoft as a Data Solution Architect. You can read more about how I got there, my skills and past experience on <a href="https://www.linkedin.com/in/josephplumb" alt="Link to Joe Plumb on LinkedIn">LinkedIn</a>. To get in touch, you can find me on <a href="https://twitter.com/joe_plumb" alt="Link to Joe Plumb on Twitter">Twitter</a>, or drop me an e-mail at <a href="mailto: hello@joeplumb.com?Subject=Hey%20Joe!" target="_top" alt="Send Joe an e-mail">hello@joeplumb.com</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Fixed Height Image Aside -->
<!-- Image backgrounds are set within the full-width-pics section of the styles.css file. -->
<aside class="image-bg-fixed-height"></aside>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div ng-app ng-controller="YearController" class="col-lg-12">
                <p>Copyright &copy; Joe Plumb {{date | date:'yyyy'}}</p>
            <p>Made using Angular and Bootstrap</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

</footer>

<router-outlet></router-outlet>